body {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 85%;
    min-width: 520px;
}

input.fields {
    width: 12em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

#pass {
    -webkit-text-security: square;
}

#hiddensubmit {
    height: 0px;
    width: 0px;
    border: none;
    padding: 0px;
}

#submit {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 12em;
}

div {
    display: block;
    text-align: center;
}

div.checkboxes {
    text-align: left;
    width: 14em;
    margin: auto;
    padding-left: 3.5em;
}

div.check {
    display: flex;
    align-items: center;
}

div.inputs {
    width: 12em;
    margin: auto;
    margin-bottom: 1em;
}

div.column {
    float: left;
    width: 50%;
    text-align: center;
}

#login {
    border: 3px solid;
    height: 450px;
    overflow: hidden;
}

legend {
    font-weight: bolder;
}

img#qrcode {
    width: 350px;
}

